<div class="form-container">
  <h3>
    Agregar Nueva Especie</h3>
    <form [formGroup]="speciesForm" (ngSubmit)="onSubmit()">
      <div class="field">
        <label>Nombre:</label>
        <input formControlName="name" placeholder="Ej: Lince Ibérico">
        <span *ngIf="speciesForm.get('name')?.invalid && speciesForm.get('name')?.touched" class="error">
          Requerido (mín. 3 letras)
        </span>
      </div>

      <div class="field">
        <label>Tipo:</label>
        <select formControlName="type">
          <option value="Herbívoro">Herbívoro</option>
          <option value="Carnívoro">Carnívoro</option>
          <option value="Planta">Planta</option>
        </select>
      </div>

      <div class="field">
        <label>Población Inicial:</label>
        <input type="number" formControlName="population">
      </div>

      <div class="field">
        <label>Tasa de Reproducción (%):</label>
        <input type="number" formControlName="reproductionRate">
      </div>

      <div class="actions">
        <button type="submit" [disabled]="speciesForm.invalid">Guardar Especie</button>
        <button type="button" (click)="speciesForm.reset()">Cancelar</button>
      </div>
    </form>
</div>
