html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('assets/fondos/fondo.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
